/* About page */
main > section.about-container {
  background-color: #d8d1c6;
  display: flex;
  flex-wrap: wrap;
  color: #746250;
  padding: 3rem 2rem;
  width: 100%;
  min-width: 300px;
}

section.about-container > h2 {
  width: 100%;
  font-size: 3rem;
  margin: 0;
  margin-bottom: .5rem;
}

section.about-container > div.about-info {
  width: 80%;
  max-width: 800px;
}

div.about-info > p.about-descr {
  margin: 0;
  width: 100%;
  max-width: 500px;
}

div.about-info > img {
  height: 25vh;
  margin-block: 2rem;
  border-left: 2px solid #746250;
  border-bottom: 2px solid #746250;
}

/* Skills page */
section.about-container > section.skills-container {
  width: 100%;
}

section.skills-container > h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

section.skills-container > div.skills {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  width: 80%;
  border-radius: 6px;
  height: fit-content;
}

div.skills > span {
  width: 100%;
  background-color: #746250;
  border-radius: 6px;
  padding: 1vh;
  color: #d8d1c6;
  text-align: center;
}

/* Screen sizes 620px */
@media only screen and (min-width: 620px) {
  section.about-container > div.about-info {
    display: flex;
    height: 16rem;
    max-width: 600px;
    border-bottom: 2px solid #746250;
    margin-block: 3rem;
  }

  div.about-info > p.about-descr {
    width: 60%;
    height: 100%;
    font-size: 1rem;
  }

  div.about-info > img {
    height: 100%;
    margin: 0;
    margin-left: 1rem;
    border-bottom: none;
  }

  /* Skills page */
  section.skills-container > div.skills {
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
  }
}

/* Screen sizes 1024px */
@media only screen and (min-width: 1024px) {
  main > section.about-container {
    min-height: 100vh;
    padding: 3rem 4rem;
    align-content: start;
  }

  section.about-container > div.about-info {
    height: 45vh;
  }

  div.about-info > p.about-descr {
    font-size: 1.125rem;
    width: 50%;
  }

  section.skills-container > h3 {
    font-size: 2rem;
  }

  div.skills > span {
    font-size: 1rem;
  }
}

/* Screen sizes 1200ppx */
@media only screen and (min-width: 1200px) {
  main > section.about-container {
    display: flex;
  }

  section.about-container > div.about-info {
    
    max-width: 60%;
  }

  div.about-info > p.about-descr {
    font-size: 1rem;
    width: 50%;
  }

  section.skills-container > div.skills {
    max-width: 40%;
  }

  div.skills > span {
    font-size: 1rem;
  }
}