/* About page */
main > section.about-container {
  background-color: #d8d1c6;
  background-blend-mode: overlay;
  /* background-image: url("../images/grain2.svg"); */
  color: 	#898e6b;
  padding: 3rem 2rem;
  min-width: 300px;
  width: 100%;
  height: fit-content;
}

section.about-container > div.about-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "h h h h h h h h h h" 
    "d d d d d d d d d d"
    "i i i i i i i i i i"
    "r r r r r r r r r r"
    "s s s s s s s s s s"
  ;
  grid-template-rows: 6rem auto auto auto auto;
  grid-gap: 5px;
}

div.about-grid > h2.section-title {
  grid-area: h;
}

div.about-descr {
  grid-area: d;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 600px;
}

div.about-descr > p {
  color: #2b2b29;
  font-size: .875rem;
}

div.about-descr > p.middle {
  margin-block: 1rem;
}

div.about-img {
  grid-area: i;
  height: 30vh;
  min-height: 12rem;
  width: auto;
}

div.about-img-full {
  display: none;
}

div.about-img > img {
  height: 100%;
  border-left: 2px solid #914C21;
  border-bottom: 2px solid #914C21;
}

div.about-grid > div.resume {
  width: 100%;
  height: fit-content;
  grid-area: r;
  margin-block: 2rem;
}

div.resume > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 160px;
  border-radius: 6px;
  padding: .5rem .75rem;
  font-size: 1.25rem;
  border: 1px solid #2b2b29;
  box-shadow: 2px 4px 4px 2px rgba(43,43,41, .65);
  background-color:#2b2b29;
  color: #d8d1c6;
  cursor: pointer;
  font-family: "Russo One";
}

div.resume > button:hover {
  border: 1px solid #2b2b29;
  background-color: rgba(43,43,41, .95);
}

div.resume > button:active {
  border: 1px solid #914C21;
  background-color: #d8d1c6;
  color: #2b2b29;
  box-shadow: none;
}


/* Skills page */
div.about-grid > section.skills-container {
  grid-area: s;
  width: 100%;
  max-width: 600px;
  min-width: fit-content;
}

section.skills-container > h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid #2b2b29;
  border-left: none;
  border-right: none;
  color: #914C21;
  /* border-radius: 6px; */
  padding: .5rem 1rem;
}

section.skills-container > div.skills {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  border-radius: 6px;
  height: fit-content;
}

div.skills > span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(145,76,33, .15);
  border: 1px solid #914C21;
  border-radius: 6px;
  padding: 1vh .75vh;
  width: 100%;
  color: #914C21;
}

/* Screen sizes 380px */
@media only screen and (min-width: 380px) {
  section.about-container > h2 {
    font-size: 3rem;
  }

}

/* Screen sizes 768px */
@media only screen and (min-width: 768px) {
  main > section.about-container {
    display: flex;
    flex-wrap: wrap;
    padding: 8rem 4rem;
  }

 section.about-container > div.about-grid  {
    grid-template-areas:
      "h h h h h h h h h h" 
      "d d d d d . i i i i"
      "r r r r r r r r r r"
      "s s s s s . . . . ."
    ;
    align-content: center;
    grid-template-columns: 16rem;
    grid-template-rows: 6rem minmax(auto, 18rem) auto auto;
    grid-gap: 2rem;
  }

  div.about-grid >  h2.section-title {
    margin-bottom: 0;
  }

  div.about-descr {
    margin: 0;
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: auto;
    max-width: 600px;
    overflow: hidden;
  }

  div.about-descr > p {
    line-height: 1.25rem;
  }

  div.about-img {
    height: 100%;
  }

  div.about-img > img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
  }

  div.about-grid  > div.resume {
    margin: 0;
  }

  div.about-grid > section.skills-container {
    margin: 0;
    height: fit-content;
    padding: 0; 
    max-width: 600px;
    width: auto;
  }

  section.skills-container > h3 {
    margin-bottom: 1rem;
    width: 100%;
    max-width: none;
    min-width: none;
  }

  section.skills-container > div.skills {
    margin: 0;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }

  div.skills > span {
    padding: .5rem .25rem;
  }
}

/* Screen sizes 800px */
@media only screen and (min-width: 820px) {
  div.about-descr > p {
    line-height: 1.3rem;
  }
}

/* Screen sizes 865px */
@media only screen and (min-width: 890px) {
  div.about-descr > p {
    line-height: 1.5rem;
  }
}

/* Screen sizes 1024px */
@media only screen and (min-width: 1024px) {
  section.about-container > div.about-grid  {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
      "h h h h h h h h h h h h"
      "d d d d d d d . i i i i"
      "r r r r r r r r r r r r"
      "s s s s s s s . . . . ."
    ;
    grid-template-rows: auto 16rem auto auto;
    align-items: center;
  }

  div.about-descr {
    align-content: end;
    height: 100%;
    max-width: 700px;
  }

  div.about-descr > p {
    max-width: none;
    line-height: 1.25rem;
  }

  div.about-img {
    display: none;
  }
  
  div.about-img-full {
    display: flex;
    grid-area: i;
    height: 100%;
    border-radius: 6px;
    background-color: rgba(145,76,33, .25);
  }

  div.about-img-full > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  /* Skills page */
  div.about-grid > section.skills-container {
    max-width: 700px;
  }
}

/* Screen sizes 1200px */
@media only screen and (min-width: 1200px) {
  section.about-container > div.about-grid  {
    grid-template-areas: 
      "h h h h h h h h h h h h"
      "d d d d d d d . i i i i"
      "r r r r r r r r r r r r"
      "s s s s s s s . . . . ."
    ;
    grid-template-rows: auto 18rem auto auto;
  }

  div.about-descr {
    align-content: space-between;
  }

  div.about-descr > p {
    line-height: 1.65rem;
  }
}