main > section.contact-container {
  width: 100%;
  min-width: 300px;
  padding: 3rem 2rem;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #d8d1c6;
  color: #2b2b29;
}

section.contact-container > div.contact-header {
  height: 5rem;
  margin-bottom: 3rem;
}

section.contact-container > p {
  margin-top: 0;
  width: 100%;
  color: #2b2b29;
}

section.contact-container > Form {
  width: 100%;
  max-width: 600px;
  border-radius: 6px;
  margin-bottom: 3rem;
}

Form > label {
  font-size: .875rem;
  margin: 1rem 0;
}

Form > input {
  border-radius: 6px;
  padding: 10px 12px;
  width: 100%;
  height: 6vh;
  min-height: 4rem;
  margin-top: .25rem;
  margin-bottom: 1rem;
  border: 1px solid #914C21;
  border-style: inset;
}

Form > textarea {
  width: 100%;
  height: 12vh;
  min-height: 8rem;
  border-radius: 6px;
  padding: 10px 12px 24px;
  margin-top: .25rem;
  margin-bottom: 1rem;
}

Form > button {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  font-size: 1.25rem;
  border: 1px solid #2b2b29;
  box-shadow: 2px 4px 4px 2px rgba(43,43,41, .65);
  background-color:#2b2b29;
  color: #d8d1c6;
  cursor: pointer;
  margin-top: 2rem;
  font-family: "Russo One";
}

Form > button:hover {
  border: 1px solid #2b2b29;
  background-color: rgba(43,43,41, .95);
}

Form > button:active {
  border: 1px solid #914C21;
  background-color: #d8d1c6;
  color: #2b2b29;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  main > section.contact-container {
    padding: 6rem 4rem;
  }

  Form > input {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
  }
}

