/* Projects section */
main > section.projects-container {
  width: 100%;
  min-width: 300px;
  padding: 3rem 2rem;
  margin: 0;
}

section.projects-container > h2 {
  color: #d8d1c6;
  font-size: 3rem;
  width: 100%;
  margin: 0;
  margin-bottom: .5rem;
}

section.projects-container > div.projects-list {
  margin-top: 3rem;
  margin-bottom: 2rem;
  height: fit-content;
}

div.projects-list > div.project {
  height: fit-content;
  width: 100%;
  background-color: #d8d1c6;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

div.project > div.project-visual {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

div.project > div.project-visual > a > img {
  width: 100%;
  border-radius: 6px;
}

div.project > div.project-visual > a > img:hover {
  box-shadow: 2px 12px 12px 2px #2b2b29;
}

div.project > div.project-visual > a {
  text-decoration: none;
}

div.project > div.project-visual > a > h3 {
  margin-block: .5rem;
  color:#746250;
}

div.project > div.project-visual > a > h3:hover {
  background-color: #746250;
  color: #d8d1c6;
  text-decoration: line-through;
  padding: .25rem;
  border-radius: 4px;
  cursor: pointer;
  /*border-radius: 100% 100% 50% 50% / 10% 70% 80% 20%;*/
}

div.project > p.project-descr {
  margin-block: .25rem;
  font-size: .875rem;
  color: #2b2b29;
}

div.project > div.tools {
  display: flex;
  flex-wrap: wrap;
}

div.tools > span.display-tools {
  background-color: #746250;
  height: fit-content;
  margin: .25rem .125rem;
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  main > section.projects-container {
    padding: 3rem 4rem;
  }

  section.projects-container > div.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: space-between;
    max-width: 100%;
  }
  
  div.projects-list > div.project {
    height: fit-content;
    min-height: 24.83rem;
  }
}

@media only screen and (min-width: 1024px) {
  section.projects-container > div.projects-list {
    max-width: 100%;
    gap: .5rem;
  }

  div.projects-list > div.project {
    height: fit-content;
    min-height: fit-content;
    margin: 0;
  }

  div.project p.project-descr {
    display: none;
  }

  div.project div.tools {
    display: none;
  }

  div.project:hover p.project-descr,
  div.project:hover div.tools, 
  div.project:active p.project-descr, 
  div.project:active div.tools  {
    display: flex;
  }

}