* {
  font-size: 16px;
  font-family: "tahoma";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #d8d1c6;
}

/* Google font */
.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("./assets/images/grain.svg");
  background-color: rgba(0, 0, 0, 1);
}

div#content-wrapper {
  width: 100%;
  min-height: calc(100vh - 18rem);
  min-width: 300px;
  color: white;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100vw;
  min-width: 300px;
  padding: 0 1rem;
}

header > .logo {
  height: 40px;
}

header > nav#nav-bar {
  display: none;
}

header > nav#burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  aspect-ratio: 2/1.125;
  list-style: none;
}

header > nav#burger > li {
  border: 1px solid white;
  width: 100%;
}

header > nav#burger.non-active {
  display: none;
}

/* Animation for nav screen */
@keyframes coverScreen {
  0% {
    height: 0vh;
    left: 100vw;
  }
  100% {
    height: 100vh;
    left: 0vw;
  }
}

/* Animation for content on nav screen to appear */
@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header > nav#off-screen {
  display: none;
}

header > nav#off-screen.active {
  position: fixed;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-image: url("./assets/images/grain.svg");
  background-color: rgba(145,76,33, 1);
  height: 100vh;
  width: 100vw;
  /* min-width: 100vw;
  min-height: 100%; */
  top: 0;
  left: 0;
  animation: coverScreen 1s ease-in-out;
}

nav#off-screen > button {
  position: absolute;
  height: 5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 1rem;
  background: none;
  border: none;
  font-size: 4rem;
  font-weight: 400;
  color: #d8d1c6;
  cursor: pointer;
  right: 0;
  animation: appear 1.5s ease-in;
}

nav#off-screen > li {
  width: 100%;
  margin-block: .5rem;
  text-align: center;
  animation: appear 2s ease-in;
  opacity: 1;
}

nav#off-screen > li a {
  color: #d8d1c6;
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Russo One";
}

nav#off-screen > li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Main */
main {
  min-height: calc(100% - 6rem); /* subtract header and main margin*/
  display: flex;
  align-content: center;
  justify-self: center;
  flex-wrap: wrap;
  /* max-width: 1800px; */
}

main > section.headline {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 3rem 1rem;
  min-height: calc(100vh - 6rem);
  max-height: 100vh;
}

main > section.headline > h1 {
  font-size: 2rem;
  margin: 0;
  width: 100%;
}

main > section.headline > p {
  font-size: .875rem;
  margin: 0;
}

@keyframes growUp {
  0% {
    height: 0;
  }
  100% {
    height: 5rem;
  }
}

section.headline > h1.highlight {
  color: #914c21;
  font-family: "Russo One";
  line-height: 2.5rem;
  height: 5rem;
  animation: 1s growUp;
  overflow: hidden;
  margin-block: .5rem;
}

/* section.headline > h1.name {
    font-family: "Russo One";
} */


@keyframes heightUp {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

h2.section-title {
  font-size: 3rem;
  overflow: hidden;
  height: 0;
  color: #914c21;
  opacity: 0;
  font-family: "Russo One";
}

h2.title-show {
  opacity: 1;
  height: 6rem;
  max-height: 6rem;
  animation: heightUp 1s ease-in;
}


/* Screen size for smaller mobile */
@media only screen and (min-width: 380px) {
  header {
    padding: 0 2rem;
  }

  main > section.headline {
    padding: 0 2rem;
  }
  
  main > section.headline > h1 {
    font-size: 2.5rem;
  }

  main > section.headline > p {
    font-size: 1rem;
  }

  nav#off-screen > button {
    padding: 0 2rem;
  }

  nav#off-screen > li a {
    font-size: 4rem;
  }

  @keyframes growUp {
    0% {
      height: 0;
    }
    100% {
      height: 5.125rem;
    }
  }
  
}

/* Screen size for 480px */
@media only screen and (min-width: 480px) {
  main > section.headline > h1 {
    font-size: 3rem;
  }

  section.headline > h1.highlight {
    line-height: 3rem;
  }

  section.headline > h1.highlight {
    height: 6.125rem;
  }

  @keyframes growUp {
    0% {
      height: 0;
    }
    100% {
      height: 6.125rem;
    }
  }

}


/* Screen size for 768px */
@media only screen and (min-width: 768px) {
  header {
    padding: 0 4rem;
  }
  
  header > h2.fake-logo {
    font-size: 2rem;
  }

  header > nav#burger {
    display: none;
  }

  header > nav#nav-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1.75rem;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  header > nav#nav-bar > li a {
    text-decoration: none;
    color: #d8d1c6;
    font-size: 1.25rem;
    font-family: "Russo One";
  }

  header > nav#nav-bar > li a:hover {
    border: 2px solid #914c21;
    border-left: none;
    border-right: none;
    border-radius: 6px;
    padding: 0 0 .25rem;
    text-decoration: line-through;
    color: #914c21;
    animation: fadeIn 300ms ease-in;
  }

  main > section.headline {
    width: 100%;
    max-width: 800px;
    padding: 0 0 0 4rem;
  } 

  main > section.headline > h1 {
    font-size: 4rem;
  }

  section.headline > h1.highlight {
    line-height: 4rem;
    height: 8rem;
  }

  @keyframes growUp {
    0% {
      height: 0;
    }
    100% {
      height: 8rem;
    }
  }

  h2.section-title {
    margin-bottom: 0;
    font-size: 4rem;
  }
  

  main > section.headline > p {
    width: 80%;
  }
}

/* Screen size for 1024px */
@media only screen and (min-width: 1024px) {
  main > section.headline > h1 {
    max-width: none;
  }

  main > section.headline > h1 {
    font-size: 5rem;
  }

  section.headline > h1.highlight {
    line-height: 5.5rem;
    height: 10.5rem;
  }

  @keyframes growUp {
    0% {
      height: 0;
    }
    100% {
      height: 10.5rem;
    }
  }

  h2.section-title {
    font-size: 5rem;
  }

  h2.title-show {
    opacity: 1;
    height: fit-content;
    max-height: 7rem;
  }
}

/* Screen size for 1200px */
@media only screen and (min-width: 1200px) {
  main > section.headline {
    max-width: 800px;
  }

  main > section.headline > h1 {
    font-size: 5.5rem;
  }
  
  section.headline > h1.highlight {
    line-height: 5.5rem;
    height: 11.5rem;
  }

  @keyframes growUp {
    0% {
      height: 0;
    }
    100% {
      height: 11.5rem;
    }
  }
  
  h2.section-title {
    font-size: 5.5rem;
  }
}


/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-self: center;
  min-height: 12rem;
  width: 100vw;
  min-width: 300px;
  background-color: #2b2b29;
  padding: 1rem 2rem;
  margin: 0;
  color: white;
}

@media only screen and (min-width: 1024px) {
  footer {
    padding: 1rem 4rem;
  }
}

/* Switch SVG backgrounds when they break */
/* Adjust svg filter for screen sizes 240px - 290px */
@media only screen and (min-width: 240px) and (max-width: 290px) {
  body {
    background-image: url("./assets/images/grain2.svg");
  }
}

/* Adjust svg filter for screen sizes 340px - 360px */
@media only screen and (min-width: 330px) and (max-width: 360px) {
  body {
    background-image: url("./assets/images/grain2.svg");
  }
}

/* Adjust svg filter for screen sizes 360px - 400px */
@media only screen and (min-width: 360px) and (max-width: 380px) {
  body {
    background-image: url("./assets/images/grain2.svg");
  }
}

/* Adjust svg filter for screen sizes 480px - 530px */
@media only screen and (min-width: 480px) and (max-width: 530px) {
  body {
    background-image: url("./assets/images/grain2.svg");
  }
}

/* Adjust svg filter for screen sizes 700px - 820px */
@media only screen and (min-width: 700px) and (max-width: 820px) {
  body {
    background-image: url("./assets/images/grain2.svg");
  }
}

@media only screen and (min-width: 960px) and (max-width: 1100px) {
  body {
    background-image: url("./assets/images/grain2.svg");
  }
}